pipeline/E_TP_responses_foreach.json
{
	"name": "E_TP_responses_foreach",
	"properties": {
		"activities": [
			{
				"name": "LookupResponses",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT [form_id], [response_id]  FROM dbo.E_TPResponses_global;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dbo_TPResponses_global",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachResponses",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupResponses",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupResponses').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "E_TPResponses",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "/forms/@{item().form_id}/responses?included_response_ids=@{item().response_id}"
								},
								{
									"name": "Destination",
									"value": "dbo.E_TPResponses_detalle"
								}
							],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"additionalColumns": [
										{
											"name": "form_id",
											"value": {
												"value": "@{item().form_id}",
												"type": "Expression"
											}
										},
										{
											"name": "f_aud_upload",
											"value": {
												"value": "@convertTimeZone(utcnow(), 'UTC', 'Romance Standard Time')",
												"type": "Expression"
											}
										}
									],
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET"
								},
								"sink": {
									"type": "AzureSqlSink",
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "['field']['id']"
											},
											"sink": {
												"name": "answer_field_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['field']['ref']"
											},
											"sink": {
												"name": "answer_field_ref",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['field']['type']"
											},
											"sink": {
												"name": "answer_field_type",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['type']"
											},
											"sink": {
												"name": "answer_type",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['text']"
											},
											"sink": {
												"name": "answer_text",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['phone_number']"
											},
											"sink": {
												"name": "answer_phone",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['email']"
											},
											"sink": {
												"name": "answer_email",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['boolean']"
											},
											"sink": {
												"name": "answer_boolean",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['response_id']"
											},
											"sink": {
												"name": "response_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['submitted_at']"
											},
											"sink": {
												"name": "submitted_at",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['items'][0]['metadata']['referer']"
											},
											"sink": {
												"name": "meta_referer",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['form_id']"
											},
											"sink": {
												"name": "form_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['f_aud_upload']"
											},
											"sink": {
												"name": "f_aud_upload",
												"type": "DateTime"
											}
										}
									],
									"collectionReference": "$['items'][0]['answers']",
									"mapComplexValuesToString": true
								}
							},
							"inputs": [
								{
									"referenceName": "so_TP_REST_responses_detalle",
									"type": "DatasetReference",
									"parameters": {
										"form_id": "@{item().form_id}",
										"response_id": "@{item().response_id}"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "tg_TP_SQL_responses_detalle",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "AytoLasRozas/Staging/TypeForm"
		},
		"annotations": [],
		"lastPublishTime": "2021-05-28T11:24:02Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}