pipeline/E_TP_global_inc.json
{
	"name": "E_TP_global_inc",
	"properties": {
		"activities": [
			{
				"name": "ExecuteRespGlobal",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ExecuteForms",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "E_TP_forms_foreach_inc",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "ExecuteRespDetalle",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ExecuteRespGlobal",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "E_TP_responses_foreach_inc",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "ExecuteForms",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ExecuteWorkspaces",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "E_TP_forms",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "ExecuteWorkspaces",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "E_TP_workspaces",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "SendEmail",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "ExecuteRespDetalle",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-65.westeurope.logic.azure.com:443/workflows/712696859b1b46f5aa7c076e5f588f79/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=UOUVYAJGAeKa7vUr2xnfEeX5Cxx3HIHputVA_X5K7ns",
					"method": "POST",
					"headers": {
						"Content-Type": {
							"value": "application/json",
							"type": "Expression"
						}
					},
					"body": {
						"value": "{\n    \"subject\": \"pipeline: AytoLasRozas | TypeForm | Carga Incremental Diaria\",\n    \"message\": \"@{pipeline().Pipeline}\",\n    \"color\": \"green\",\n    \"dataFactoryName\": \"@{pipeline().DataFactory}\",\n    \"pipelineName\": \"@{pipeline().Pipeline}\",\n    \"pipelineRunId\": \"@{pipeline().RunId}\",\n    \"time\": \"@{utcnow()}\",\n    \"emailTo\": \"jose_bautista@artyco.com\",\n}\n\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SendEmailError",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "ExecuteWorkspaces",
						"dependencyConditions": [
							"Failed"
						]
					},
					{
						"activity": "ExecuteForms",
						"dependencyConditions": [
							"Failed"
						]
					},
					{
						"activity": "ExecuteRespGlobal",
						"dependencyConditions": [
							"Failed"
						]
					},
					{
						"activity": "ExecuteRespDetalle",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-65.westeurope.logic.azure.com:443/workflows/712696859b1b46f5aa7c076e5f588f79/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=UOUVYAJGAeKa7vUr2xnfEeX5Cxx3HIHputVA_X5K7ns",
					"method": "POST",
					"headers": {
						"Content-Type": {
							"value": "application/json",
							"type": "Expression"
						}
					},
					"body": {
						"value": "{\n    \"subject\": \"pipeline: AytoLasRozas | TypeForm | Carga Incremental Diaria\",\n    \"message\": \"@{activity('ExecuteWorkspaces').error.message} + \n          @{activity('ExecuteForms').error.message} + \n          @{activity('ExecuteRespGlobal').error.message} +\n          @{activity('ExecuteRespDetalle').error.message}\",\n    \"color\": \"red\",\n    \"dataFactoryName\": \"@{pipeline().DataFactory}\",\n    \"pipelineName\": \"@{pipeline().Pipeline}\",\n    \"pipelineRunId\": \"@{pipeline().RunId}\",\n    \"time\": \"@{utcnow()}\",\n    \"emailTo\": \"jose_bautista@artyco.com\",\n}\n\n\n",
						"type": "Expression"
					}
				}
			}
		],
		"folder": {
			"name": "AytoLasRozas/Staging/TypeForm"
		},
		"annotations": [],
		"lastPublishTime": "2021-06-10T09:26:54Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}